/* 
imagenes */
/* -------------------------------------------- */
.fever{
    margin-left: 0;
    width: 50%;
}
.bienomal *{
    margin-left: 0;
    width: 50%;
}
.ecsitosi {
    opacity: 100%;
}
.ecsitono {
    opacity: 0%;
}

#juego{
    border-radius:  15px;
    width: 90%;
    padding: 5px;
    background-color:  rgba(255, 255, 255, 60%);
}

/* botones */
/*------------------------------------------- */
.dale{ background-color: greenyellow;
font-weight: bolder;
}
.dale:hover{ background-color: greenyellow;}

.noDale{ background-color:red ;}

/* ----------------------------------------------- */
.reg_registro{
    background-size: cover;
    background-image: url("/img/bg_registro.png");
    background-repeat: no-repeat;
    background-position: center;
    /* position: relative; */


}