/* 
imagenes */
/* -------------------------------------------- */
.fever{
    margin-left: 0;
    width: 50%;
}
.bienomal *{
    margin-left: 0;
    width: 50%;
}
.ecsitosi {
    opacity: 100%;
}
.ecsitono {
    opacity: 0%;
}
/* botones */
/*------------------------------------------- */
.dale{ background-color: greenyellow;
font-weight: bolder;
}
.dale:hover{ background-color: greenyellow;}

.noDale{ background-color:red ;}